footer {
    height: 50vh;
    width: 100%;
    /* border: 1px solid black; */
}

#footer-inner-div {
    height: 100%;
    width: 90%;
    /* border: 1px solid black; */
    background-color: #f8f8ff;
    margin: auto;
    display: flex;
    align-items: center;
}

#shop-non-stop {
    height: 85%;
    width: 35%;
    /* border: 1px solid black; */
}

#shop-non-stop>div:nth-child(1) {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

#shop-non-stop>div:nth-child(2) {
    height: 10vh;
    width: 100%;
    /* border: 1px solid black; */
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#shop-non-stop>div:nth-child(3) {
    height: 7vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

#shop-non-stop>div:nth-child(3)>div {
    height: 100%;
    width: 48%;
}

#shop-non-stop>div:nth-child(3)>div>img {
    height: 100%;
    width: 100%;
}

#careers-seller-hall,
#legal-blog-return {
    height: 85%;
    width: 15%;
    /* border: 1px solid black; */

}

#careers-seller-hall>ul,
#legal-blog-return>ul {
    list-style-type: none;
    font-size: 1.1em;
    color: #616587;
    line-height: 40px;
    margin-left: 1%;
}

#reach-out {
    height: 85%;
    width: 17%;
    /* border: 1px solid black; */
}

#reach-out>div {
    height: 7vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;

}

#reach-out>div:nth-child(1)>p {
    font-size: 1.3em;
    font-weight: 500;
}

#reach-out>div:nth-child(2)>i {
    font-size: 1.2em;
    margin-left: 5%;
}

.fa-facebook {
    color: blue;
}

.fa-square-instagram {
    color: #f75f48;
}

.fa-youtube {
    color: #ff0101;
}

.fa-linkedin {
    color: #2867b2;
}

.fa-twitter {
    color: #1d9bf0;
}

#contact-us {
    height: 85%;
    width: 18%;
    /* border: 1px solid black; */
}

#contact-us>div:nth-child(1) {
    height: 6vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

#contact-us>div:nth-child(1)>p {
    font-size: 1.3em;
    font-weight: 500;
}

#contact-us>div:nth-child(2) {
    height: 30vh;
    width: 100%;
    /* border: 1px solid black; */
    font-size: 0.8em;
    color: rgb(97, 97, 115);
    line-height: 25px;
}